@{
  Layout = "_Layout";
}
<div class="container">
<h2>Order Details: </h2>
<ol>
<li><h2>@Model["order"].Title</h2>
</ol>
<h2>@Model["order"].Description</h2>
<h2>@Model["order"].Price</h2>
<h2>@Model["order"].Date</h2>
<h2>Vendor: @Model["vendor"].Name</h2>
<h2><a href='/vendor/@Model["vendor"].Id/order/new'>Add another order</a></h2>
<h2><a href='/vendor'>View all vendors</a></h2>
</div>
 